* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    height: 98vh;
    align-items: center;
    justify-content: center;
}
h1 {
    position: absolute;
    top: 0px;
}
img {
    width: 200px;
    opacity: 0.5;
    cursor: pointer;
}
#addItemWindow {
    display: none;
    background-color: white;
    width: 285px;
    height: 300px;
    position: fixed;
    top: 33.3%;
    border: gray solid;
    z-index: 1;
    text-align: center;
}
#addItemWindow .centralizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#addItemWindow label {
    font-size: 25px;
    margin: 0 0 5px 0;
}
#addItemWindow input {
    width: 90%;
    height: 35px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
}
#addItemWindow select {
    font-size: 20px;
    text-align: center;
    width: 90%;
    height: 35px;
    padding: 5px 0 5px 0;
}
#addItemWindow input[type='button'] {
    font-size: 25px;
}
#warning {
    color: transparent;
    padding: 0 0 5px 0;
    font-size: 13px;
}
.main-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 88%;
    border: 2px solid gray;
    border-radius: 5px;
}
.main-card .centralizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 6px 0 6px;
}
.main-card .centralizar label {
    text-align: left;
    width: 95%;
    font-size: 18px;
    margin: 3px 0 3px 0;
}
.main-card .centralizar input {
    font-size: 15px;
    width: 95%;
    padding: 4px;
    border: 2px solid gray;
    border-radius: 5px;
}
.main-card .centralizar input[type='button'] {
    margin: 5px 0 0 0;
}
.main-card .centralizar input[type='button']:hover {
    background-color: yellow;
    font-weight: bold;
    transform: scale(1.03);
}
.main-card .centralizar select {
    font-size: 15px;
    width: 95%;
    padding: 4px;
    margin: 0 0 5px 0px;
    border: 2px solid gray;
    border-radius: 5px;
}
.main-card .list, .cart {
    width: 50%;
    padding: 5px;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.main-card .main-card-header {
    border-top: 1px solid gray;
}
.main-card .list {
    background-color: yellow;
}
.main-card-header {
    display: flex;
    width: 100%;
}
.list-card {
    height: 100%;
    display: block;
    overflow: auto;
}
.cart-card {
    height: 100%;
    display: none;
    overflow: auto;
}
p.noItems {
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(220, 220, 220);
    padding: 3px;
    margin: 3px;
    border-bottom: 1px solid gray;
}
p.item-name {
    width: 160px;
    padding-left: 7px;
}
p.item-quantity {
    width: 60px;
    border-right: 1px solid gray;
}
.div-price {
    text-align: left;
    width: 58px;
    border-right: 1px solid gray;
    margin-right: 3px;
}
.div-price .item-price {
    color: green;
    font-weight: bold;
}
.div-price .item-price-unity {
    font-size: 13px;
    color: #404040;
}
.div-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}
.overlay-background {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.637);
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.toCartDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 210px;
    background-color: white;
    border: 2px gray solid;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    z-index: 1;
    position: absolute;
}
.toCartDiv input[type='number'] {
    display: block;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid gray;
}
.toCartDiv .first-warning {
    font-size: 11px;
    color: rgb(36, 36, 36);
    margin: 10px 0 0 0;
}
.toCartDiv .second-warning {
    font-size: 12px;
    color: transparent;
    font-weight: bold;
    margin: 2px 0 0 0;
}
.toCartDiv input[type='button'] {
    font-size: 18px;
    width: 173px;
    height: 35px;
    margin: 10px 0 0 0;
}
.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-top: 2px solid gray;
}
.total-p-price {
    color: green;
    font-weight: bold;
}
.end {
    display: flex;
    justify-content: center;
    border-top: 2px solid gray;
    padding: 10px;
}
.end input {
    font-size: 20px;
    padding: 5px;
    width: 95%;
    border-radius: 10px;
    border: 2px solid gray;
}
.close {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 1.5%;
    left: 94.5%;
    cursor: pointer;
}
