* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 98vh;
    align-items: center;
    justify-content: center;
}
h1 {
    position: absolute;
    top: 0px;
}
img {
    width: 285px;
    opacity: 0.5;
    cursor: pointer;
}
#addItemWindow {
    display: none;
    background-color: white;
    width: 285px;
    height: 300px;
    position: fixed;
    top: 36.6%;
    border: gray solid;
    z-index: 1;
    text-align: center;
}
#addItemWindow .centralizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#addItemWindow label {
    font-size: 25px;
    margin: 0 0 5px 0;
}
#addItemWindow input {
    width: 90%;
    height: 35px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
}
#addItemWindow select {
    font-size: 20px;
    text-align: center;
    width: 90%;
    height: 35px;
    padding: 5px 0 5px 0;
}
#addItemWindow input[type='button'] {
    font-size: 25px;
}
